.box {
    border-style: groove;
    width: 266px;
    height: 400px;
}


.cell {
    border-style: groove;
    height: 25px;
    width: 260px;
    
}
.todoText {
    display: inline-block;
    width: 200px;
    /* background-color: yellow;  */
}
.footer {
    border-style: groove;
    height: 25px;
    width: 260px;
    color:darkgrey;
    font-size: 0.875em;
    
}
.footerButtons{
    padding-left: 10px;
}
.addSection{
    position: absolute;
    top: 460px;
}
#add{
    width: 225px;
}
 